.highlight::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: tomato;
    z-index: 1;
    transform: translateY(12px);
    border-radius: 100%;
}
